<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="TestUser" value="qatest1"/>
		<add key="TestEmail" value="qatest1@yahoo.com/>
		<add key="TestPassword" value="password"/>
		<add key="BaseUrl" value="http://www."/>
		<add key="LocalUrl" value="http://www.yahoo.com"/>
		<add key="ApiPort" value=":8081"/>
		<add key="ServerPort" value="82"/>
		<add key="CoverageReport" value="false"/>

		<!--- BrowserStack -->
		<add key="build" value="20160107212258"/>
		<add key="project" value="fullstack"/>
		<add key="browserstack.user" value="qatest39"/>
		<add key="browserstack.key" value="[Put your key here]"/>
		<add key="browserstack.debug" value="true"/>
		<add key="browserstack.local" value="false"/>
		<add key="remotewebdriver_url" value="http://hub.browserstack.com/wd/hub/"/>
		<add key="browserstacklocal_settings" value="[Put your key here] -forcelocal"/>

		<!-- Common test defaults -->
		<add key="resolution" value="1280x1024"/>
	</appSettings>
</configuration>

